## Strings y Diccionarios

In [31]:
x = 'Pluto is a planet'
y = "Pluto is a planet"
x == y

True

In [32]:
print("Pluto's a planet!")
print('My dog is named "Pluto"')

Pluto's a planet!
My dog is named "Pluto"

In [33]:
'Pluto\'s a planet!'

"Pluto's a planet!"

In [34]:
hello = "hello\nworld"
print(hello)

hello
world

In [35]:
triplequoted_hello = """hello
world"""
print(triplequoted_hello)
triplequoted_hello == hello

hello
world

True

In [36]:
print("hello")
print("world")
print("hello", end='')
print("pluto", end='')

hello
world
hellopluto

## Los Strings son secuencias 

Los strings se pueden consultar como se consultan los datos en las listas. Es decir por indexamiento

In [37]:
# Indexing
planet = 'Pluto'
planet[0]

'P'

In [38]:
# Slicing
planet[-3:]

'uto'

In [39]:
# How long is this string?
len(planet)

5

In [40]:
planet[0] = 'B'

TypeError: ignored

## Metodos de Strings

Se refiere a que los Strings son objetos que se les envían mensajes (métodos).

In [ ]:
# ALL CAPS
claim = "Pluto is a planet!"
claim.upper()

In [ ]:
claim

In [ ]:
# all lowercase
claim.lower()

In [ ]:
# Searching for the first index of a substring
claim.index('plan')

In [ ]:
claim.startswith(planet)

In [ ]:
# false because of missing exclamation mark
claim.endswith('planet')

In [ ]:
words = claim.split()
words

In [ ]:
datestr = '1956-01-31'
year, month, day = datestr.split('-')

[year, month, day]

In [ ]:
'/'.join([month, day, year])

In [ ]:
' 👏 '.join([word.upper() for word in words])

In [ ]:
num=9.5456
print(f"Pluton es el {num:.4} planeta")

In [41]:
position=9
"".format(planet, position)

"Pluto, you'll always be the 9th planet to me."

In [45]:
print(f"{planet}, you'll always be the {position}th planet to me.")

Pluto, you'll always be the 9th planet to me.

In [46]:
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390
#         2 decimal points   3 decimal points, format as percent     separate with commas
"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(
    planet, pluto_mass, pluto_mass / earth_mass, population,
)

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

In [47]:
f"{planet} weighs about {pluto_mass:.2} kilograms ({pluto_mass / earth_mass:.3%} of Earth's mass). It is home to {population:,} Plutonians."

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

## Diccionarios

Son un tipo de colección que permite almacenar datos que se pueden indexar por medio de claves. Es decir, cada dato es una pareja clave:dato.

In [49]:
numbers = {'one':1, 'two':2, 'three':3}

numbers

{'one': 1, 'three': 3, 'two': 2}

In [50]:
numbers['one']

1

In [52]:
numbers['eleven'] = 11
numbers

{'eleven': 11, 'one': 1, 'three': 3, 'two': 2}

In [53]:
numbers['one'] = 'Pluto'
numbers

{'eleven': 11, 'one': 'Pluto', 'three': 3, 'two': 2}

In [54]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Earth': 'E',
 'Jupiter': 'J',
 'Mars': 'M',
 'Mercury': 'M',
 'Neptune': 'N',
 'Saturn': 'S',
 'Uranus': 'U',
 'Venus': 'V'}

In [55]:
'Saturn' in planet_to_initial

True

In [56]:
'Betelgeuse' in planet_to_initial

False

In [57]:
for k in numbers:
    print("{} = {}".format(k, numbers[k]))

one = Pluto
two = 2
three = 3
eleven = 11

In [58]:
for k in numbers:
    print(f"{k} = {numbers[k]}")

one = Pluto
two = 2
three = 3
eleven = 11

In [59]:
# Get all the initials, sort them alphabetically, and put them in a space-separated string.
' '.join(sorted(planet_to_initial.values()))

'E J M M N S U V'

In [60]:
for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet.rjust(10), initial))

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"